# editor
.vscode

# Environments
.venv

# outputs
videos
weights
*.npy

# Byte-compiled / optimized / DLL files
__pycache__

# Distribution / packaging
.Python

# pyenv
.python-version

#others
demo.py
as.py

#log files
unitylog.txt