# editor
.vscode

# Environments
.venv

# outputs
videos/
weights
*.npy
*h5
/demos/
*.mp4
*.png 
ddqn/
*.json

# Byte-compiled / optimized / DLL files
__pycache__

# Distribution / packaging
.Python

# pyenv
.python-version

#others
demo.py
as.py

#log files
unitylog.txt